@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

div {
    /* border: 1px solid red; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

li > p, .company > p {
    padding-left: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    line-height: .5rem;
}

img {
    max-width: 30px;
}

img[alt="placeholder-user-icon"] {
    min-width: 75px;
    height: auto;

}

input {
    width: 90%;
}

.company > img {
    max-width: 50px;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / minmax(300px, .75fr) 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 4;
    padding-right: 30px;
}

.sidebar {
    grid-row: 1 / 4;
    background-color: rgb(64, 136, 218);
    color: aliceblue;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 30px;
    padding: 15px;
}

.company {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 0px;
}

.projects {
    display: grid;
    grid-template: 50px 1fr 50px / 3fr 1fr;
    padding: 15px;
    gap: 15px;
    background-color: rgb(199, 199, 226);
    padding-right: 30px;
}

.project-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards {
    border: 1px solid rgb(224, 224, 224);
    box-shadow: -5px 5px 3px rgba(156, 156, 156, 0.603);
    background-color: white;
    border-radius: 1rem;
    padding: 15px;
}

.row {
    display: grid;
    grid-template-columns: minmax(400px, 3fr) minmax(200px, 300px);
    padding: 15px;
}

.flex-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    align-items: center;
    gap: 10px;
}
.user-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
}

.user {
    display: flex;
    align-items: center;
}

.greeting {
    margin-left: 15px;
}