body {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.header {
    grid-column: 2 / 4;
}

.sidebar {
    grid-row: 1 / 4;
    background-color: rgb(64, 136, 218);
    color: aliceblue;
}