body {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
    /* padding: 15px; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / minmax(300px, .75fr) 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 4;
}

.sidebar {
    grid-row: 1 / 4;
    background-color: rgb(64, 136, 218);
    color: aliceblue;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 30px;
    padding: 15px;
}

.company {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 0px;
}

.projects {
    display: grid;
    grid-template: 50px 1fr 50px / 3fr 1fr;
    padding: 15px;
    gap: 15px;
}

.project-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards {
    padding-left: 10px;
}

.row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
}

.flex-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    align-items: center;
    gap: 10px;
}
.user {
    display: flex;
}