body {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
    padding: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / minmax(300px, .75fr) 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 4;
}

.sidebar {
    grid-row: 1 / 4;
    background-color: rgb(64, 136, 218);
    color: aliceblue;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 30px;
}

.company {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 0px;
    padding-left: 15px;
}

.projects {
    display: grid;
    grid-template: 50px 1fr / 3fr 1fr
}

.project-row-1 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(minmax(250px, 1fr));
    grid-template-rows: repeat(minmax(200px, 1fr))
}